
.titulop {
    font-size: 39pt;
    text-align: center; 
    margin: 30px;
}

body {
    font-family: "Questrial", sans-serif;
    justify-content: center;
    align-items: center;
    flex-grow: initial;  
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.img1 {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 300px;
 }
 
.titulolista {
    text-align: left;
    color: #28ABDC;
    line-height: 3.0em;
    
}
.finais {
    font-weight: normal;
    font-family: sans-serif;
    
}
.borda {
    font-size: 19.9pt;
    text-align: center;
    position: relative;
    margin: 40px auto;
    max-width: 600px;
    background-color: #cdbbf0;
    padding: 40px;
    border-radius: 10px;
}

.lista2 li {
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 0%;
} 


.ulhtml {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: left;
    line-height: 1.8;

}

.textos {
    position: relative;
    margin-left: 100px;
    text-align: justify;
    line-height: 2.0em;
}
.texto {
    font-weight: normal;
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
    padding: 60px;
}

th {
    background-color: #f2f2f2;
}