.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.titulop {
    font-size: 39pt;
    text-align: center; 
    margin: 30px;
}

body {
    font-family: "Questrial", sans-serif; peso da fonte: 400; estilo de fonte: normal;
    justify-content: center;
    align-items: center;
    flex-grow: initial;  
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.img1 {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 300px;
 }
 
.titulolista {
    text-align: left;
    color: #28ABDC;
    line-height: 2.0em;
    
}

.borda {
    font-size: 19.9pt;
    text-align: center;
    position: relative;
    margin: 40px auto; /* Centraliza o elemento horizontalmente */
    max-width: 600px;
    background-color: #d1d7f3;
    padding: 40px;
    border-radius: 10px;
}

ul li {
    text-align: left;
    line-height: 1.8;
}

.ulhtml {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.textos {
    position: relative;
    margin-left: 100px; /* Use margin em vez de left para mover o texto */
    text-align: justify;
}
.texto {
    font-weight: normal;
    font-family: "Questrial", sans-serif; peso da fonte: 400; estilo de fonte: normal;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}